.navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navbar-brand:hover {
  color: var(#ffffff);
}

* {
  background-image: url(../wedding/undangan-main/assets/images/cewe.png);
}
dfe .html {
  scroll-behavior: smooth;
}
